.container{
  max-width: 900px;
  margin: 0 auto;

}

.btn {
  padding: 2px 7px;

  margin-right: 5px;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid rgb(78, 78, 78);
  color: rgb(78, 78, 78);
}

.btn:hover {
  background-color: rgb(172, 172, 172);
}

.btn.active{
  background-color: rgb(78, 78, 78);
  color: #fff;
}

.wrapper {

}

.item {  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 250vh;
}

.item_projects {
  width: 33.3333%;
  padding: 0 3px;
  margin-top: 10px;
  background-color: white;
}

img {  
  width: 100%; 
  height: auto;  
}

.App {
  
}